

.java/

war/

*.log
*.log.*
*.tmp
*.old
*.bak
*.jar
*.jpi
*.jpi.pinned

/.ssh
/secret.key*
/secrets
/credentials.xml
/identity.key

/.owner
/queue.xml
/fingerprints/
/shelvedProjects/
/updates/

/tools/
/cache/

/plugins/*/

builds/
workspace/
lastStable
lastSuccessful
nextBuildNumber
modules/

.bash_history
/.vim*
.lesshst
.Xauthority

/.gradle/caches
/.ivy2/
/.m2/
/.node-gyp/
/.npm/
/.sbt/

/.cache

/node_modules
/dist